@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
  padding: 0;
	margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-riippumatto {
  width: 100%;
  object-fit: cover;
}

.App-header {
  max-width: 100%;
  height: 100px;
	display: flex;
	align-items: center; /* align vertical */
	padding-left: 20px;
	justify-content: space-between;
}

.App-header p {
  float: left;
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-navbar-large {
	display: flex;
	flex-direction: row;
	float: right;
	margin-right: 10px;
}

.App-navbar-small {
	display: none;
	flex-direction: column;
	align-items: center;
}

.App-link {
	margin: 10px;
	padding: 10px;
	outline: solid black 1px;
	width: 100px;
	color: black;
	font-weight: bold;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;	
}

.App-gameimage {
	width: 20vw;
	height: 20vw;
}

.App-gameproject {
	padding: 10px;
	max-width: 100%;
}

.App-videoSmall {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.App-videoSmall iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.App-githublogo {
	margin-top: 5px;
	width: 15%;
	border-radius: 25px;
}

.App-githublogo:hover {
	background-color: lightgray;
}

.App-titleSection {
	padding-top: 60px;
	padding-bottom: 30px;
}

.App-textSection {
	padding-left: 15vw;
	padding-right: 15vw;
	text-align: justify;
	align-items: center;
}

.App-gameprojects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 20px;
	margin: 20px;
	margin-top: 10px;
}

.App-link:hover {
	background-color: black;
	color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 650px) {
	.App-gameprojects {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}

	.App-textSection {
		padding-left: 20px;
		padding-right: 20px;
	}

	.App-navbar-large {
		display: none;
	}

	.App-navbar-small {
		display: flex;
	}

	.App-header {
		align-items: center;
		justify-content: center;
	}
	
	.App-header p {
		float: none;
	}
}