@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-riippumatto {
  width: 100vw;
  object-fit: cover;
}

.App-header {
  width: 100vw;
  height: 10vh;
	display: flex;
	align-items: center; /* align vertical */
	padding-left: 2vw;
	justify-content: space-between;
}

.App-header p {
  float: left;
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-links {
	display: flex;
	flex-direction: row;
	float: right;
	margin-right: 4vw;
}

.App-link {
	margin: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	outline: solid black 1px;
	width: 7vw;
	color: black;
	font-weight: bold;
	box-sizing: border-box;
	
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;	
}

.App-gameimage {
	width: 4vw;
	height: 4vw;
}

.App-link:hover {
	background-color: black;
	color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}